/* Denna fil skall innehålla din CSS kod */
* {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    max-width: 100vw;
    overflow-x: hidden;
}

/*Första sida*/

@media screen and (min-width: 768px) {
    #container {
        display: grid;
        grid-gap: 5px;
        width: 100vw;
        height: 180vh;
        grid-template-rows: 2fr 1fr 6fr 0.2fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        'he he he'
        'ar ar ar'
        'ma ma ma'
        'fo fo fo';
    }

    ul {
        float: left;
    }

    .header {
        grid-area: he;
        background-color: white;
        display: flex;
        justify-content: space-between;
        height: 80%;
        margin-top: 1%;
        margin-left: 20%;
        margin-right: 20%;
        background-image: url("../img/triumflogga.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .article {
        grid-area: ar;
        background-color: rgb(188, 8, 7);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #start {
        display: grid;
        grid-area: ma;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        'as1 na'
        'as2 na';
    }

    #sortiment {
        grid-area: ma;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        'sm na2';
    }

    #hitta {
        display: grid;
        grid-area: ma;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 0.1fr;
        grid-template-areas: 
        'na3 na3'
        'as3 as3';
    }

    #about {
        display: grid;
        grid-area: ma;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        'as4 na4'
        'as5 na4';
    }

    a:link {
        color: whitesmoke;
        text-decoration: none;
    }

    a:visited {
        color: whitesmoke;
        text-decoration: none;
    }

    a:hover {
        color: darkgray;
        text-decoration: none;
    }

    .aside1 {
        grid-area: as1;
        background-image: url("../img/Triumf-desktop.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .aside2 {
        grid-area: as2;
        background-image: url("../img/triumfglass.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .aside3 {
        grid-area: as3;
        background-color: rgb(73, 110, 163);
        color: whitesmoke;
        font-size: x-large;
    }

    .aside4 {
        grid-area: as4;
        background-image: url("../img/innuti1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .aside5 {
        grid-area: as5;
        background-image: url("../img/innuti2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .nav {
        grid-area: na;
        background-color: rgb(73, 110, 163);
        color: whitesmoke;
        font-size: x-large;
        padding-top: 20px;
        padding-left: 20px;
    }

    .nav2 {
        grid-area: na2;
        background-color: rgb(73, 110, 163);
        color: whitesmoke;
        font-size: x-large;
        padding-top: 20px;
        padding-left: 20px;
    }

    .nav3 {
        grid-area: na3;
        background-color: rgb(71, 110, 165);
        background-image: url(../img/Hitta.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .nav4 {
        grid-area: na4;
        background-color: rgb(71, 110, 165);
        font-size: x-large;
        color: whitesmoke;
        padding-top: 10px;
        padding-left: 10px;
    }

    #smaker {
        grid-area: sm;
        background-image: url("../img/sortiment.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .footer {
        grid-area: fo;
        background-color: rgb(73, 110, 163);
        display: grid;
        grid-template-columns: 5fr 1fr;
        grid-template-rows: 1fr;
        font-size: x-large;
    }

    .facebook {
        margin-left: 50%;
        margin-top: 10%;
    }

    .hemsida {
        font-size: xx-large;
    }

    p {
        padding-top: 20px;
        padding-left: 20px;
    }

}

@media screen and (max-width: 767px) {
    #container {
        display: grid;
        width: 100vw;
       height: 180vh;
       grid-gap: 5px;
        grid-template-rows: 1fr 0.2fr 5fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'he he'
        'ar ar'
        'ma ma'
        'fo fo';
    }

    .header {
        grid-area: he;
        background-color: white;
        display: flex;
        justify-content: space-between;
        height: 80%;
        margin-top: 1%;
        margin-left: 7%;
        margin-right: 7%;
        background-image: url("../img/triumflogga.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70%;
    }

    #logga {
        height: 15vh;
        margin-top: 5%;
    }

    .article {
        grid-area: ar;
        background-color: rgb(188, 8, 7);
    }

    .burger div {
        width: 25px;
        height: 3px;
        background-color: whitesmoke;
        margin: 5px;
        border-radius: 10%;
        transition: all 0,3;
    }

    .links {
        background-color: rgb(188, 8, 7);
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;
        position: absolute;
        right:109%;
        height: 40vh;
        top: 27.5%;
        align-items: center;
        width: 50%;
        transition: all 1s;
        text-align: right;
    }

    .burger {
        margin-right: 50px;
        cursor: pointer;
    }

    a:link {
        color: whitesmoke;
        text-decoration: none;
    }

    a:visited {
        color: whitesmoke;
        text-decoration: none;
    }

    a:hover {
        color: darkgray;
        text-decoration: none;
    }

    #start {
        grid-area: ma;
        background-color: rgb(73, 110, 163);
        display: grid;
        color: whitesmoke;
        font-size: xx-large;
        padding: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        'na na'
        'as1 as2';
    }

    #sortiment {
        grid-area: ma;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        'sm na2'
        'ba na2';
    }

    #hitta {
        display: grid;
        grid-area: ma;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 0.1fr;
        grid-template-areas: 
        'na3 na3'
        'as3 as3';
    }

    #about {
        display: grid;
        grid-area: ma;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        'na4 na4'
        'as4 as5';
    }

    .nav {
        grid-area: na;
        background-color: rgb(73, 110, 163);
        color: whitesmoke;
        font-size: x-large;
        padding-top: 20px;
        padding-left: 20px;
    }

    .nav2 {
        grid-area: na2;
        background-color: rgb(73, 110, 163);
        color: whitesmoke;
        font-size: x-large;
        padding-top: 20px;
        padding-left: 20px;
    }

    .nav3 {
        grid-area: na3;
        background-color: rgb(73, 110, 163);
        background-image: url(../img/Hitta.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .nav4 {
        grid-area: na4;
        background-color: rgb(71, 110, 165);
        font-size: x-large;
        color: whitesmoke;
        padding-top: 10px;
        padding-left: 10px;
    }

    #background {
        grid-area: ba;
        background-color: rgb(73, 110, 163);
    }

    .aside1 {
        grid-area: as1;
        background-image: url("../img/Triumf-mobil.jpg");
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 5px;
    }

    .aside2 {
        grid-area: as2;
        background-image: url("../img/triumfglass.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-left: 5px;
    }

    .aside3 {
        grid-area: as3;
        background-color: rgb(73, 110, 163);
        color: whitesmoke;
        font-size: x-large;
    }

    .aside4 {
        grid-area: as4;
        background-image: url("../img/innuti1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-right: 5px;
    }

    .aside5 {
        grid-area: as5;
        background-image: url("../img/innuti2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-left: 5px;
    }

    #smaker {
        grid-area: sm;
        background-image: url("../img/sortiment.jpg");
        background-size: 100% 100%;
    }

    .footer {
        grid-area: fo;
        background-color: rgb(73, 110, 163);
        display: grid;
        grid-template-columns: 5fr 1fr;
        grid-template-rows: 1fr;
        font-size: xx-large;
        padding-top: 5%;
    }

    .facebook {
        margin-left: 30%;
        margin-top: 20%;
    }

    .hemsida {
        font-size: xx-large;
    }

    .navActive {
        transform: translateX(30vh);
    }

    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px)
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px)
    }
}